@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
   /* debug */
   /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
a:hover{
  color: white;
}
html {
  height:100%;
  width:100%;
  margin:0%;
  padding:0%;
  overflow-x: hidden;
  font-family: 'PT Sans Narrow', sans-serif;
}
body{
  overflow-x: hidden;
  background-color: #fafafa;
}

li {

  list-style: none;
 
 }

 #welcome{
  text-align: center;
  border: 3px solid green;
 }

/* NAVBAR STYLING STARTS */

.navbar {

  display: flex;
 
  align-items: center;
 
  justify-content: space-between;
 
  padding: 10px;
 
  background-color: #f3b95c;
 
  color: #fff;
 
 }
 
 .nav-links a {
 
  color: #fff;
 
 }
 
 /* LOGO */
 
 .logo {
 
  font-size: 25px;
  font-family: 'Pacifico', cursive;
 
 }
 
 /* NAVBAR MENU */
 
 .menu {
 
  display: flex;
 
  gap: 1em;
 
  font-size: 18px;
 
 }
 
 .menu li:hover {
 
  background-color: #eed77d;
 
  border-radius: 5px;
 
  transition: 0.3s ease;
 
 }
 
 .menu li {
 
  padding: 5px 14px;
 
 }
 
 /* DROPDOWN MENU */
 
 .services {
 
  position: relative; 
 
 }
 
 .dropdown {
 
  background-color: #f3b95c;
 
  padding: 1em 0;
 
  position: absolute; /*WITH RESPECT TO PARENT*/
 
  display: none;
 
  border-radius: 8px;
 
  top: 35px;
 
 }
 
 .dropdown li + li {
 
  margin-top: 10px;
 
 }
 
 .dropdown li {
 
  padding: 0.5em 1em;
 
  width: 8em;
 
  text-align: center;
 
 }
 
 .dropdown li:hover {
 
  background-color: #eed77d;
 
 }
 
 .services:hover .dropdown {
 
  display: block;
 
 }









/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 2rem 12.5rem;
  justify-content: center;
  align-items: center;
  height: 39.5rem;
  position: relative;
}

#home::before {
  content: "";
  /* background: url("https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center/cover; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/3756498/pexels-photo-3756498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center/cover;
  opacity: 0.9;
  opacity: 0.9;
  position: absolute;
  height: 45rem;
  width: 100%;
  z-index: -1;
  top: -85px;
  left: 0px;
  right: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}


.homepage-heading{
  font-family: 'Pacifico', cursive;
  font-size: 7rem;
  color: #fff;
  position: relative;
  bottom: 6rem;
}

p {
  font-size: 0.8rem;
}

nav {
  display: flex;
}
nav .search-bar {
  display: flex;
  margin: 0 auto;
}
nav .search-bar .search {
  display: flex;
  align-items: center;

}

nav .search-bar .search .search__input {
  width: 35rem ;
  display: flex;
  padding: 1.2rem 1rem 1.2rem 4rem;
  height: 2.5rem;
  font-size: 0.9rem;
  color: #4a4a4a;
  border: none;
  border-radius: 0;
  position: relative;
  right: 0;
  left: 0;
  letter-spacing: 0.05rem;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) #ececec;
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 2rem;
  outline: 0;
  transition: background 0.3s ease-out, opacity 0.5s ease-out;
  bottom: .5rem;
}
nav .search-bar .search .search__input:focus {
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) no-repeat 1rem 50% #FFFFFF;
  background-size: 2rem;
}
nav .search-bar .search .search__btn {
  background: #f3b95c;
  height: 40px;
  border: none;
  width: 120px;
  color: #FFF;
  font-size: 0.8rem;
  text-transform: uppercase;
   letter-spacing: 0.1rem;
  cursor: pointer;
  outline: 0;
  transition: all 0.4s ease-out;
  position: relative;
  bottom: .5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}
nav .search-bar .search .search__btn:hover {
  background: #FF926B;
}
nav .search-bar .search .search__icon {
  display: none;
}

.suggestion {
  display: flex;
  position: absolute;
  top: 26.5rem;
  border-top: 1px solid #F1F1F1;
  opacity: 0;
  visibility: hidden;
}
.suggestion.active {
  opacity: 1;
  visibility: visible;
  transform-origin: center top;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: rotation-show 0.5s 0.3s;
          animation: rotation-show 0.5s 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.suggestion__content {
  background: #fff;
  display: flex;
  flex: 1;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  font-size: 0.8rem;
  
}
.suggestion__content .suggestion__content-right-side,
.suggestion__content .suggestion__content-left-side {
  flex: 1;
  padding: 1rem;
}
.suggestion__content .suggestion__content-right-side h5,
.suggestion__content .suggestion__content-left-side h5 {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  color: #757575;
  font-weight: 600;
  margin-bottom: 5px;
}
.suggestion__content .suggestion__content-right-side ul,
.suggestion__content .suggestion__content-left-side ul {
  margin: 0;
  padding: 0;
}
.suggestion__content .suggestion__content-right-side ul li p,
.suggestion__content .suggestion__content-left-side ul li p {
font-size: 1rem;
}
.suggestion__content .suggestion__content-right-side ul li,
.suggestion__content .suggestion__content-left-side ul li {
  list-style-type: none;
  padding: 2px 0;
}
.suggestion__content .suggestion__content-left-side ul li {
  list-style-type: none;
  padding: 2px 0;
  color: black;
  cursor: pointer;
  transition: color 0.4s ease-out, transform 0.4s ease;
}
.suggestion__content .suggestion__content-left-side ul li:hover {
  transform: translateX(3px);
}
.suggestion__content .suggestion__content-right-side h5 {
  text-align: center;
}
.suggestion__content .suggestion__content-right-side ul {
  padding: 0;
  max-width: 200px;
  margin: auto;
}
.suggestion__content .suggestion__content-right-side ul li {
  border: 1px solid #f3f3f3;
  background: #FFF;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.3s ease-out, border 0.4s ease-in-out;
}
.suggestion__content .suggestion__content-right-side ul li:hover {
  border: 1px solid #FF926B;
  background: #f1f1f1;
}

.hide-element {
  display: none !important;
}


.close-icon {
  color: #909090 !important;
  position: absolute !important;
  right: 8% !important;
  font-size: 1rem;
}

 .phoneview-p{
  display: none;
} 

.suggestion__content-left-side i ,
.suggestion__content-right-side i{
  padding-right: .5rem;
}


.trending-topics{
  display: flex;
  align-items: center;
  padding: 2px;
  border: .001rem solid #f3f3f3;
  border-radius:.5rem ;
}
.suggestion__content .suggestion__content-left-side ul li:hover {
  border: .001rem solid #FF926B;
  border-radius:.5rem ;
  background: #f1f1f1;
}
.trending-topics p{
  padding: .5rem
}

.trending-topics img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius:.5rem ;
}



/*Styling gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5rem;
  padding-left: 5rem; 
}

.y img {
  width: 100%;
}


.y {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.y img {
  margin-top: 8px;
  vertical-align: middle;
}


.section-heading h1{
  text-align: center;
  font-size: 3rem;
  color: #FFF ;
   padding: .5rem; 
  -webkit-text-stroke: 1px #FF926B; 
  letter-spacing: 15px; 
}

/*hover effect*/
.image-box {
  position: relative;
  background-size: cover; 
}
.image-box:before {
  content: "";
  position: absolute;
  top:.4rem;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: 0.4s;
}
.image-box:hover {
  cursor: pointer;

}
.image-box:hover:before {
  opacity: 0.3;
}
.image-box:hover .box-content {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.box-content{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: #fff;
  transition: 0.3s;
  padding: 0.75em;
  visibility: visibile;
}

  .box-content .icon, .box-content .icon--add, .box-content .icon--download, .box-content .icon--likes {
  border: 1px solid #fff;
  width: 60px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0.5em;
  color: #fff;
  transition: 0.4s;
  opacity: 0.6;
} 

.btm-r8 .icon--download{
  margin: 1rem;
  margin-bottom: 1.3rem;

}

.box-content .icon:hover, .box-content .icon--add:hover, .box-content .icon--download:hover, .box-content .icon--likes:hover {
  opacity: 1;
}
.box-content .icon--likes .fa-heart {
  color: #fff;
  opacity: 0.4;
  font-size: 13px;
}
.box-content .icon--likes p {
  padding-left: 0.5em;
  font-size: 11px;
  font-weight: 600;
}
.box-content .icon--add, .box-content .icon--download {
  width: 37px;
  justify-content: center;
}

  .box-content__upper {
  padding: 1rem;
  display: flex;
  position: absolute;
  top:0;
  right: 0;
}
.box-content__lower {
  padding: 1rem;
  display: flex; 
  position: absolute;
  bottom:0;
  left: 0;

}
.box-content__lower .user {
  display: flex;
  align-items: center;

}

.icon--download{
  position: absolute;
  bottom: 0;
  right: 0;
}

.box-content__lower .user__avatar img {
  background-size: cover;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
   /* opacity: 0.8;  */
}
.box-content__lower .user__name {
  font-family: Courier, monospace;
  font-size: 15px;
  padding-left: 0.75em;
  opacity: 0.7;
}
.box-content__lower .user__name:hover {
  opacity: 1;
}
/*hover effect Ends here */ 

.mobileview{
  display: none;
}

.tabletview{
  display: none;
}




/* .cart{
  width: 250px;
  float: right;
  text-align: center;
  border:1px solid black;
  overflow-y: scroll;
  height: 100%;
  z-index: 10000;

} */












/* CHECKBOX HACK*/
input[type=checkbox]{

  display: none;
 
 } 
 
 /*HAMBURGER MENU*/
 
 .hamburger {
 
  display: none;
 
  font-size: 24px;
 
  user-select: none;
 
 }
 















 /* APPLYING MEDIA QUERIES */
 
 @media (max-width: 768px) {
 
 .menu { 
 
  display:none;
 
  position: absolute;
 
  background-color:#f3b95c;
 
  right: 0;
 
  left: 0;
 
  text-align: center;
 
  padding: 16px 0;
 
 }
 
 
 .menu li + li {
 
  margin-top: 12px;
 
 }
 
 input[type=checkbox]:checked ~ .menu{
 
  display: block;
  z-index: 1000;
 
 }
 
 .hamburger {
 
  display: block;

 }
 
 
 }






@media (max-width: 1200px){
  .user__name p {
    font-size: .6rem;
  } 

}

/*anything that's not desktop*/

@media (max-width: 1024px){

  .user__name p {
    font-size: .9rem;
  } 
 
  .gallery{
    display: none;
  }
  .tabletview{
    display: flex;
    justify-content: center;

  }
  .y{
    flex: 100%;
    max-width: 30%;
    align-items: center;
  }

  .box-content__lower p{
    font-size: .7rem;

  }
  .image-box:hover:before{
    opacity: 0;
  }

  .image-box .box-content {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  } 
  .image-box:hover:before{
    opacity: 0;
  }

  .box-content__upper,
  .btm-r8{
    display: none;

  } 
}

 @media (max-width: 860px) {

  .box-content__lower{
    margin: 0;
    padding: 0.5rem;
  }

 .user__name{
  padding-left: .1rem;
 }
} 



/*three col view*/
 @media (max-width: 720px){


  .box-content__lower{
    padding: 1rem;
  }
  .box-content__lower{
    padding: .5rem;
  }
  .gallery{
    display: none;
  }
  .y{
    flex: 50%;
    max-width: 50%;
  }
  .tabletview{
    display: none;
  }
  .mobileview{
    display: flex;
  }

}

@media (max-width: 768px) {
  nav .search-bar .search .search__input {
    width: 25rem;
  }
} 

@media only screen and (max-width: 600px) {
  .user__name p {
    font-size: .9rem;
  } 

  .search{
    display: none;
    width: 0;
  }
  nav .search-bar .search .search__input {
    width: 0;
  }

  .homepage-heading{
     bottom: -1rem;
     font-size: 3rem; 
     padding-right: 2rem;
     font-family: 'Pacifico', cursive;

  }

  .phoneview-p{
    font-size: 1.5rem;
    display: block;
    position: relative; 
    width: 20rem; 
    color: #fff;
    padding: 1rem; 
    text-align: center;

  } 
  .search__input {
    font-size: 1rem !important;
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
  .search__btn {
    display: none !important;
  }

}


@media (max-width: 551px){

  .section-heading h1{
    font-size: 2.5rem;
  }

  nav .search-bar .search .search__input {
    width: 0;
  }
  .search{
    display: none;
    width: 0;
  }
.homepage-heading{
  bottom: -1rem;
  font-size: 2.5rem; 
  font-family: 'Pacifico', cursive;

}
#home{
  padding: 0;
  margin: 0;
 }

}

@media (max-width: 460px){

  .gallery {
    padding-right: 0rem;
    padding-left: 0rem;
    display: flex;
   }  

  .tabletview,
  .mobileview{
    display: none;
  }

  .y {
    flex: 100%;
    max-width: 100%;
  }

  .phoneview-p{
    font-size: 1.3rem;
    width: 18rem;
    } 
  .section-heading h1{
    font-size: 2rem;
  }
}


